<h1 mat-dialog-title>{{data.title}}</h1>
<p>{{data.message}}</p>
<h3>Pattern : </h3>
<div mat-dialog-content>
  <div *ngFor="let item of data.data; let i = index">
    <h5>Point - {{i+1}} :</h5>
    <p> <b> Date </b>: {{item[0] | date:'medium'}}</p>
    <p> <b> Value </b> : {{item[1]}}</p>
    <br>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false" color='warn'>
    <mat-icon>close</mat-icon>&nbsp; No
  </button>
  <button mat-flat-button color='primary' [mat-dialog-close]="true" cdkFocusInitial>
    <mat-icon>done</mat-icon>&nbsp; Yes
  </button>
</div>