/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.my-dialog .mat-dialog-container {
    border-radius: 10px;
}

button {
    border-radius: 5px;
}

.loading .mat-dialog-container {
    box-shadow: none !important;
    background: transparent !important;
}