<!-- data chart  -->
<div [chart]="stock"></div>
<!-- data chart /end -->

<!-- <br>
<br> -->
<hr>
<!-- <br>
<br> -->

<!-- data chart  -->
<div [chart]="price"></div>
<!-- data chart /end -->

<!-- data chart  -->
<!-- <div [chart]="triangle"></div> -->
<!-- data chart /end -->

<div [chart]="trendingTriangle"></div>
<!-- <button *ngIf="trendingDynamic" mat-flat-button #confirm color="primary" [disabled]='disabled' (click)="openModal()">Start Finding Pattern</button> -->

<!-- data chart  -->
<!-- <div [chart]="futureTrending"></div> -->
<!-- data chart /end -->


<div [chart]="testPattern"></div>
